*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/*HEADER*/

header {
  /* position: -webkit-sticky; Safari */
  position: fixed;
  width: 100vw;
  background-color: #00000032; /* #606c38 */
  color: white;
  display: grid;
  grid-template-columns: auto min-content;
  row-gap: 1em;
  align-items: center;
  padding: 20px 3vw;
  z-index: 999;
  box-shadow: 0 6px 20px 5px #0000005e;
}

.nav-btn {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

.nav-btn:hover {
  background-color: #00000030;
}

.nav-bar {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
}

.nav-bar a:link,
.nav-bar a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-bar li {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  margin: 1em 0;
}

.nav-bar hr {
  border-top: 1px solid #fefae0;
}

.invisible {
  display: none;
}

/*HERO*/

.hero {
  background-image: url("./images/cambridge-hero.jpg");
  background-size: cover;
  background-position: center;
  height: min(calc((0.363 * 100vw) + 300px), 80vh); /**/
  display: flex;
  align-items: end;
  padding: 2em;
  color: white;
}

.hero h1 {
  text-shadow: #1d2520ad 2px 2px 3px;
  font-weight: 400;
  font-size: 3rem;
}

.hero h1 span {
  font-size: 4rem;
}

/*MAIN CONTENT*/

.container {
  padding: 2em 1em;
}

.template-1 img {
  width: 100%;
}

.carousel-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em 0;
  padding: 0 1em;
}

.carousel-menu h1 {
  font-size: 2.3rem;
}

.carousel-btn {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin: 0 0.7em;
}

.carousel-container {
  background-image: linear-gradient(105deg, #a4e1e1 25%, #9bdbbd);
  padding: 3em;
}

.carousel {
  white-space: nowrap;
  overflow: hidden;
}

.carousel-item {
  display: inline-block;
  width: calc(99.5% / 1);
}

.carousel-item img {
  border-radius: 5px;
  width: 100%;
}

.carousel-item p {
  white-space: normal;
  width: 95%;
}

/*MEDIA QUERIES*/

/*TABLET*/
@media only screen and (min-width: 768px) {
  /*HERO*/
  .hero h1 {
    font-size: 4.5rem;
  }

  .hero h1 span {
    font-size: 6rem;
  }

  /*MAIN CONTENT*/
  .container {
    padding: 3em 1.5em;
  }

  .template-1 {
    display: flex;
  }

  .template-1 img {
    width: 50%;
    margin-left: 2em;
    align-self: center;
    order: 2;
  }

  .carousel-item {
    width: calc(99.5% / 2);
  }
}

/*COMPUTER*/
@media only screen and (min-width: 1024px) {
  /*HEADER*/
  .nav-btn,
  .nav-bar hr {
    display: none;
  }

  .nav-bar {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
  }

  .nav-bar li {
    display: inline;
    white-space: nowrap;
    padding: 0 30px;
    margin: 0;
  }

  /*HERO*/
  .hero h1 {
    font-size: 6rem;
  }

  .hero h1 span {
    font-size: 8rem;
  }

  /*MAIN CONTENT*/
  .container {
    padding: 3.5em 1.7em;
  }

  .template-1 img {
    width: 30%;
  }

  .carousel-item {
    width: calc(99.5% / 3);
  }
}
